* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(77, 77, 77);
}

.result {
    height: 520px;
    width: 100%;
}

.player-choices {
    height: 80%;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 -48px 0;
}

.player-choices-winner {
    transform: scale(1.1);
    border: 2px solid rgb(109, 134, 76);
    border-radius: 8px;
}

.player-choices > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player-choices > div > div {
    height: 200px;
    width: 200px;
    background-color: rgb(55, 55, 55);
    font-size: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .2s;
}

.round-result {
    height: 24px;
    margin-top: 56px;
    color:rgb(212, 212, 212);
    font-size: 24px;
}

.current-score {
    height: 20%;
    background-color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-score > p {
    font-size: 24px;
    color: rgb(212, 212, 212);
}

.dash {
    padding: 0 16px;
}

.button-holder {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.button-holder > button {
    height: 120px;
    width: 120px;
    padding: 16px 16px;
    font-size: 36px;
    border: 2px solid rgb(67, 77, 43);
    border-radius: 16px;
    background-color: rgb(109, 134, 76);

}

.button-holder > button:hover {
    height: 120px;
    width: 120px;
    padding: 16px 16px;
    font-size: 36px;
    border: 2px solid rgb(67, 77, 43);
    border-radius: 16px;
    background-color: rgb(91, 105, 58);

}

.hide-buttons {
    visibility:hidden;
}

.paper-font {
    font-size: 24px !important;
    color:rgb(24, 24, 24);
}

h1 {
    padding: 8px;
    color:rgb(212, 212, 212);
    background-color:rgb(62, 62, 62);
    text-align: center;
    white-space: nowrap;
}